CRIANDO MODELO MACHINE LEARNING PREVER TIPO VINHO

In [42]:
import pandas as pd
import numpy as np

dados =pd.read_csv('DadosVinhos.csv')

In [2]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [4]:
# definindo a coluna Style valores red para 0 p/enxergar um valor numerico e não uma String
dados['style']=dados['style'].replace('red', 0)

In [5]:
# definindo a coluna Style valores White para 1 p/enxergar um valor numerico e não uma String
dados['style']=dados['style'].replace('white', 1)

In [7]:
# observar que a ultima coluna foi substituida onde tinha red e white ficou 0 e 1
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [9]:
#separando as variáveis entre preditoras e alvo com o cod abaixo remove coluna style do data set e
#adiciona ela na variavel y, o resto do data set fica em x exceto y (dados.drop " remova quem?.."style')
y = dados['style']
x= dados.drop('style',axis =1)

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: style, dtype: int64

In [12]:
#mesmo dataset "dados" nesse caso sem a coluna style que iremos treinar.
x.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [18]:
from sklearn.model_selection import train_test_split
#criando o conjunto de dados para treino e teste observar que do total de X teremos 30%8
x_treino, x_teste, y_treino , y_teste =train_test_split(x,y, test_size =0.3)

In [19]:
x.shape

(6497, 12)

In [20]:
y.shape

(6497,)

In [21]:
x_treino.shape

(4547, 12)

In [22]:
x_teste.shape

(1950, 12)

In [23]:
#ExtraTreesClassifier é um algoritimo de ML que ira usar os dados de 
#treino acima definodos

In [37]:
from sklearn.ensemble import ExtraTreesClassifier
#Criando o Modelo
modelo =ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#imprimindo resultado:
resultado =modelo.score(x_teste,y_teste)
print('Acurácia:',resultado)

Acurácia: 0.9938461538461538

In [ ]:
#a acuracia mostra ao quanto o algoritimo conseguiu acertar apos treinar com os dados de teste e depois analisar 
#o resto do dataset.

In [38]:
y_teste[400:403]

489     0
6248    1
4044    1
Name: style, dtype: int64

In [39]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
489,9.3,0.390,0.40,2.6,0.073,10.0,26.0,0.99840,3.34,0.75,10.2,6
6248,5.7,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,5
4044,6.6,0.340,0.34,2.6,0.051,40.5,210.0,0.99314,3.15,0.61,10.0,5

In [40]:
previsao= modelo.predict(x_teste[400:403])

In [41]:
#colocando o modelo pra enxergar os dados do dataset de X ,com o que ele foi treinado ele percebeu
#que cada lina poderia ser dos valores informados valores batesm corretos com y=teste(0,1,1)
previsao

array([0, 1, 1], dtype=int64)